footer {
    background-color: rgb(53, 2, 53);
}

header{
    background-color: rgb(53, 2, 53);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.image-box{
    grid-column: 2/3;
}

main {
    background-color: rgb(46, 39, 1);
}