footer {
    background-color: rgb(93, 20, 93);
}

header{
    background-color: rgb(93, 20, 93);
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.image-box{
    grid-column: 2/3;
}

img{
    width: 150px;
    height: 200px;
}

main {
    background-color: rgb(206, 183, 52);
}