nav ul {
    display:flex;
    flex-wrap:wrap;
    text-align:center;
}

nav ul li {
    box-sizing: border-box;
    padding: 20px;
}

@media (max-width: 230px) {
    nav ul li {
        flex: 100%
    }
}