/*begin-BASE/SMALL MOBILE VIEW: MAX WITDTH: 425px.***************/

/*begin-body/main********************************/
body,
main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
/*end-body/main**********************************/

/*begin-header***********************************/
header {
  margin: auto;
}
header img {
  max-width: 100%;
}
/*end-header*************************************/

/*begin-navigation*******************************/
nav {
  background-color: #BD2035;
  margin-bottom: 0;
}

nav li a {
  color: #fff;
  display: block;
  text-align: center;
  padding: 0.25rem;
  text-decoration: none;
}

nav a:hover {
  background-color: rgb(60, 16, 16);
  color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
}

.navigation .active {
  background-color: rgb(60, 16, 16);
  color: #fff;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.responsive li {
  display: block;
}

/*begin-main*************************************/
main {
  background-color: #E47D1E;
}
/*end-main***************************************/

/*begin-footer***********************************/
footer {
  background-color: #0070B9;
}
footer p {
  font-size: 10px;
}
/*end-footer*************************************/

/*end-BASE/SMALL MOBILE VIEW: MAX WITDTH: 425px.*****************/

/*begin-TABLET/LAPTOP and DESKTOP View***************************/
@media only screen and (min-width: 426px) {
  /*begin-navigation*******************************/
  .navigation {
    display: flex;
    padding: 0;
  }

  .navigation li:first-child {
    display: none;
  }

  .navigation li {
    display: block;
  }

  nav ul li {
    flex: 1 1 100%;
  }

  /*begin-footer***********************************/
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .addressBox {
    grid-column: 1;
  }
  .other {
    grid-column: 2;
  }
  footer p {
    font-size: 16px;
  }
  /*end-footer*************************************/
}

